extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/new") Send new message
  each message in messages
    div
      h2= message.username 
      p= message.text 
      p= message.created_at
